<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="/layout::header"></header>
<div>
    <form th:action="@{/save}" th:object="${comment}" method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}">
        <table class="table table-striped table-hover">
            <tr>
                <td colspan="2"><img src="" id="img-of-the-day" alt="nasa picture"></td>
            </tr>
            <tr>
                <td><label>Rate:</label></td>
                <td><label>
                    <input type="number" min="1" max="5" th:field="*{rate}" required>
                </label></td>
            </tr>
            <tr>
                <td><label>Author:</label></td>
                <td><label>
                    <input type="text"  th:field="*{author}" required>
                </label></td>
            </tr>
            <tr>
                <td><label>Feedback:</label></td>
                <td><label>
                    <textarea rows="4" cols="50" th:field="*{feedback}" required></textarea>
                </label></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">Comment</button></td>
            </tr>
        </table>
    </form>
    <hr>
    <h3>Comments</h3>
    <table class="table table-striped table-hover table-bordered border-primary">
        <tr th:each="comment : ${comments}">
            <th th:text="${comment.author}" scope="row"></th>
            <td th:text="${comment.rate} + ' sao'"></td>
            <td th:text="${comment.feedback} + ' ' + ${comment.likes} + ' likes'"></td>
            <td th:text="${comment.getDateTime()}"></td>
            <td>
                <button><a th:href="@{/like/{id} (id=${comment.id})}">Like</a></button>
            </td>
        </tr>
    </table>
</div>
<script>
    let query = 'https://api.nasa.gov/planetary/apod?api_key=mbZqNcpCchPHETzqPx6f90WNAR8VPUK6GlM0a3Og';
    let request = new XMLHttpRequest();
    request.open('GET', query);
    request.onload = function () {
        if (request.status === 200) {
            let response = JSON.parse(request.responseText);
            document.getElementById('img-of-the-day').setAttribute('src', response.url);
        }
    };
    request.send();
</script>
</body>
<footer th:replace="/layout::foot"></footer>
</html>