<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/product/home::head">
    <meta charset="UTF-8">
    <title>Edit product</title>
</head>
<body>
<header th:replace="/product/home::header"></header>
<h1>Edit product</h1>
<p>
    <a th:href="@{/home}">Product list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/product/edit-product}" th:object="${product}" method="post" enctype="multipart/form-data">
    <label>
        <input th:type="hidden" name="id" th:field="*{id}">
    </label>
    <table>
        <tr>
            <td><label for="name">Name</label></td>
            <td><input type="text" id="name" placeholder="name" th:field="*{name}" required></td>
        </tr>
        <tr>
            <td><label for="image">Image</label></td>
            <td><input type="file" id="image" placeholder="image" th:field="*{image}"></td>
            <input hidden="hidden" id="fileName" th:value="${product.image.originalFilename}">
            <input hidden="hidden" id="blob" th:value="${product.image.bytes}">
            <input hidden="hidden" id="contentType" th:value="${product.image.contentType}">
        </tr>
        <tr>
            <td><label for="category">Category</label></td>
            <td>
                <label>
                    <select th:field="*{category}">
                        <option th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}"
                         id="category"></option>
                    </select>
                </label>
            </td>
        </tr>

<!--        <tr>-->
<!--            <td><label for="origin">Origin</label></td>-->
<!--            <td th:each="variant:${product.variants}" th:if="${product.variants}"><input type="text" id="origin" placeholder="origin" required th:value="${variant.originName}" th:text="${variant.originName}"></td>-->
<!--            <td th:each="variant:${product.variants}" th:unless="${product.variants}"><input type="text" id="origin1" placeholder="origin" required th:value="${variant.originName}" th:text="${variant.originName}"></td>-->
<!--        </tr>-->

        <tr>
            <td><label for="detail">Detail</label></td>
            <td><textarea rows="4" cols="50" id="detail" placeholder="detail" th:field="*{detail}" th:text="${product.detail}"></textarea></td>
        </tr>

<!--        <tr>-->
<!--            <td><label for="size">Size</label></td>-->
<!--            <th:block th:if="${product.variants} != null">-->
<!--                <td th:each="variant:${product.variants}"><input type="text" id="size" placeholder="size" required th:value="${variant.size}"></td>-->
<!--            </th:block>-->
<!--            <th:block th:if="${product.variants} == null">-->
<!--                <td><input type="text" id="size" placeholder="size" required th:value="${product.variants}"></td>-->
<!--            </th:block>-->
<!--        </tr>-->

<!--        <tr>-->
<!--            <td><label for="price">Price</label></td>-->
<!--            <td th:each="variant:${product.variants}"><input type="number" id="price" placeholder="price" min="0" required th:value="${variant.price}"></td>-->
<!--        </tr>-->

        <tr>
            <td></td>
            <td>
                <button class="custom-btn btn-15">Edit</button>
            </td>
        </tr>
    </table>
</form>
</body>
<script th:inline="javascript">
    function getFile() {
        //https://stackoverflow.com/questions/1696877/how-to-set-a-value-to-a-file-input-in-html
        // Get a reference to our file input
        const fileInput = document.querySelector("#image");
        const blob = document.querySelector("#blob").value;
        const fileName = document.querySelector("#fileName").value;
        const contentType = document.querySelector("#contentType").value;
        // Create a new File object
        const myFile = new File(
            [blob],
            fileName,
            {
                type: contentType,
                lastModified: new Date(),
            }
        );
        // Now let's create a DataTransfer to get a FileList
        const dataTransfer = new DataTransfer();
        dataTransfer.items.add(myFile);
        fileInput.files = dataTransfer.files;
    }
    document.onload = getFile();
</script>
<footer th:replace="/product/home::footer"></footer>
</html>